body {
	width: 100%;
    font-family: 'Lato', sans-serif;
	color: #4d4d4d;
}

.my-center {
	text-align: center;
}

/*TOP NAVIGATION with globe and menus*/
#top-main-div {
}

#top-main-div-skewed-color {
	position: fixed;
	top: 0px;
	height: 200px;
	width: 4000px;
	margin-top: -110px;
	background-color: #F1F1D4;
	-webkit-transform: skewY(-3deg);
	-moz-transform: skewY(-3deg);
	-ms-transform: skewY(-3deg);
	-o-transform: skewY(-3deg);
	transform: skewY(-3deg);
}

#main-content {
	margin-top: 50px;
}

#main-globe {
	width: 150px;
	height: 150px;
	margin-top: 15px;
}

#main-top-nav-links {
	font-size: 24px;
	font-weight: bold;
	margin-top: 60px;
}


/*NAV LINKS*/
.top-nav-links {
	cursor: pointer;
	float: left;
	padding: 10px 20px 10px 20px;
	-webkit-transition: background-color 0.5s; /* Safari */
	transition: background-color 0.5s;
}
.top-nav-links:hover {
	background-color: #f1e3d5;
}

#error-message {
	color: #cc3300;
	padding: 5px;
	margin: 5px 0px 5px 0px;
	border-radius: 5px;
}